article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 3em;
	margin: 0.67em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

hr {
	box-sizing: content-box;
	height: 0;
}

mark {
	background: #ff0;
	color: #000;
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	--color-text: #ffffff;
	--color-text-alt: #000000;
	--color-bg: #343c3c;
	--color-link: #a9bab1;
	--color-link-hover: #ffffff;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: auto;
	margin: 0;
}

.loadingIcon {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	fill: var(--color-text);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.loadIconRemove {
	opacity: 0;
	transition: opacity 1.8s ease-out;
}

.loadIconAnim {
	width: 100px;
	height: 100px;
}

.loadIconAnim g {
	-webkit-animation: showHide 1s steps(4, end) infinite forwards;
	animation: showHide 1s steps(4, end) infinite forwards;
}

.loadIconAnim g:last-child {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.1s;
}

@-webkit-keyframes showHide {
	to {
		opacity: 0;
	}
}

@keyframes showHide {
	to {
		opacity: 0;
	}
}

/* .loadIconRemove .loadIconAnim g {
	opacity: 0;
	transition: opacity 0.5s;
}

.loadIconRemove g {
	opacity: 0;
	transition: opacity 0.5s;
} */

canvas {
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
}






.button {
	--x: 50%;
	--y: 50%;
	position: relative;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	padding: 0.5em 1.5em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	border: 0px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
  }


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	-webkit-transition-duration: 0.5s;
  	transition-duration: 0.5s;
}

/* a:hover, a:focus {
	color: var(--color-link-hover);
	outline: none;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
} */




.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame a {
	text-transform: lowercase;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.content {
	display: flex;
	flex-direction: column;
	/* width:100vw; */
	width: auto;
	height: calc(100vh - 13rem);
	position: relative;
	justify-content: flex-start;
	align-items: center;
	place-items: center;
	font-family: rift, sans-serif;
	text-transform: uppercase;
	font-style: italic;
}

.content--final {
	display: flex;
	margin-top: 100vh;
	justify-content: flex-start;
	align-items: center;
	place-items: center;
	flex-direction: column;
}

.content__title {
	line-height: 1;
	font-weight: 300;
}

.content__title-inner {
	display: block;
	font-size: 7vw;
	color: var(--color-text-alt);
}


.content__title-sub {
	display: block;
	text-align: right;
	font-size: 1.8vh;
	margin-right: 0.25rem;
}


@media screen and (max-width: 600px){

	.content__title-inner {
		font-size: 15vw;
	}


	.content__title-sub {

		font-size: 5vw;
	}

	

}





/* .content__title-inner {
	display: block;
	font-size: 5vw;
	color: var(--color-text-alt);
}

.content__title-sub {
	display: block;
	text-align: right;
	font-size: 1.5vw;
	margin-right: 0.25rem;
} */

.occupation_text {
	line-height: 2;
	font-weight: 300;
}

.content__text {
	display: block;
	font-size: 2rem;
	text-align: left;
}

.sub_text {
	display: block;
	text-align: left;
	font-size: 1.5rem;
}

/* @media screen and (max-width: 53em) {
	div.frame__scroll {
		display: none;
	}
} */
/* @media screen and (min-width: 35em) { */

.frame {
	position: fixed;
	text-align: left;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	justify-items: left;
	width: 100%;
	max-width: none;
	height: 100vh;
	padding: 4rem;
	pointer-events: none;
	grid-template-columns: 40% 20% 40%;
	/* grid-template-columns: 50% 50%; */
	grid-template-rows: auto auto auto;
	grid-template-areas: "title ... links" "... scroll ..." "... ... ...";
}

/* .frame__scroll {
	grid-area: scroll;
	justify-self: center;
} */

/* 
.resume {
	grid-area: resume;
	justify-self: left;
} */

.frame__title-wrap {
	grid-area: title;
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.frame__title {
	margin: 1px;
}

.frame__links {
	grid-area: links;
	padding: 0;
	justify-self: end;
}

.frame a {
	pointer-events: auto;
}

.content {
	height: 100vh;
	justify-content: center;
}


.arrows {
	/* grid-area: scroll; */
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.scroll_remove {
	opacity: 0;
	pointer-events: none;
}

.arrows path {
	stroke: #000000;
	fill: transparent;
	stroke-width: 2px;
	animation: arrow 1.75s infinite;
	-webkit-animation: arrow 1.75s infinite;
}

/* .arrows.hiddenByScroll{
	opacity: 0;
	  pointer-events: none;
  } */

@keyframes arrow {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes arrow {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.arrows path.first {
	animation-delay: -1s;
	-webkit-animation-delay: -1s;
}

.arrows path.second {
	animation-delay: -0.5s;
	-webkit-animation-delay: -0.5s;
}

.arrows path.third {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
}

ul {
	position: relative;
	display: flex;
	/* transform: rotate(-25deg) skew(25deg); */
	transform-style: preserve-3d;
}

ul li {
	position: relative;
	list-style: none;
	width: 60px;
	height: 60px;
	margin: 10px 25px;
}

ul li:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: -5px;
	width: 100%;
	height: 10px;
	background: #2a2a2a;
	transform-origin: top;
	transform: skewX(-41deg);
}

ul li:after {
	content: "";
	position: absolute;
	top: 5px;
	left: -9px;
	width: 9px;
	height: 100%;
	background: #2a2a2a;
	transform-origin: right;
	transform: skewY(-49deg);
}

ul li span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex !important;
	background: #2a2a2a;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 30px !important;
	transition: 1.5s ease-out;
}

ul li:hover span {
	z-index: 1000;
	transition: 0.3s;
	color: #fff;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

ul li:hover span:nth-child(5) {
	transform: translate(40px, -40px);
	opacity: 1;
}

ul li:hover span:nth-child(4) {
	transform: translate(30px, -30px);
	opacity: 0.8;
}

ul li:hover span:nth-child(3) {
	transform: translate(20px, -20px);
	opacity: 0.6;
}

ul li:hover span:nth-child(2) {
	transform: translate(10px, -10px);
	opacity: 0.4;
}

ul li:hover span:nth-child(1) {
	transform: translate(0px, 0px);
	opacity: 0.2;
}

ul li:nth-child(1):hover span {
	background: #52e19f !important;
}

ul li:nth-child(2):hover span {
	background: #2c3456 !important;
}

ul li:nth-child(3):hover span {
	background: #ea6e96 !important;
}

ul li:nth-child(4):hover span {
	background: #fceb00 !important;
}



@media screen and (max-width: 600px){


	.frame{

		justify-content: center;
		grid-template-columns: auto;
	}


	.frame__github {
		
		display: none;
		pointer-events: none;
	}
}